# dependencies
node_modules/

# production
/dist
/build

# misc
.DS_Store
.env
.env.*
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
Thumbs.db
.DS_Store

# Tailwind CSS
.tailwind*

# Vite cache
.vite/